{{#extends 'base'}}

{{#block 'title'}} All Orders {{/block}}

{{#block 'content'}}
<h1>All Orders</h1>

<div class="table-dark">
  <table data-toggle="table" class="table">
    <thead>
      <tr>
        <th data-sortable="true">Order ID</th>
        <th data-sortable="true">Name</th>
        <th data-sortable="true">Email</th>
        <th data-sortable="true">Contact</th>
        <th data-sortable="true">Address</th>
        <th data-sortable="true">Postal Code</th>
        <th data-sortable="true">Order Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td class="td-content"><a href="/orders/orderitems/{{ id }}"><span>{{ order_id }}</span></a></td>
        <td class="td-content"><span>{{ user.username }}</span></td>
        <td class="td-content"><span>{{ user.email }}</span></td>
        <td class="td-content"><span>{{ user.contact }}</span></td>
        <td class="td-content"><span>{{ user.address }}</span></td>
        <td class="td-content"><span>{{ user.postal_code }}</span></td>
        <td class="td-content"><span>{{ status.name }}</span></td>
        <td>
          <div class="d-flex flex-column">
          <button
            class="btn btn-sm btn-primary m–0"
            name="{{ order_id }}"
            onclick="toggleUpdateStatus(this)"
          >
            Update Status
          </button>
          <span id="{{ order_id }}"></span>
          <button class="btn btn-danger btn-sm" name="{{ order_id }}" onclick="removeOrder(this)">Delete Order</button>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{/block}}

{{#block 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
  integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
  crossorigin="anonymous"
></script>

<script>
  const toggleUpdateStatus = (e) => {
    let targetName = e.name;

    if (document.querySelector(`#${targetName}`).innerHTML == '') {
      document.querySelector(`#${targetName}`).innerHTML = `
        <select class="form-control form-control-sm" name=${targetName} onchange="updateStatus(this)">
        {{#each statuses}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
        </select>
        `;
    } else {
      document.querySelector(`#${targetName}`).innerHTML = '';
    }
  };

  const updateStatus = (e) => {
    let orderId = e.name;
    let newStatus = e.value;
    window.location.href = `/orders/updatestatus/${orderId}/${newStatus}`;
  };

  const removeOrder = (e) => {
    let orderId = e.name;
    window.location.href = `/orders/remove/${orderId}`
  }

</script>
{{/block}}

{{/extends}}
