{{#extends 'base'}}

{{#block 'title'}} Create a Product {{/block}}

{{#block 'content'}}
<h1>Create New Product</h1>
<form method="POST" class="form-dark">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  {{{form}}}
  <div>
    <a href="#" class="btn btn-info mt-3" id="upload_image_widget"
      >Upload Image</a
    >
    <div
      class="row border border-light mx-1 mt-3 p-3"
      id="uploaded_image_div"
      style="display: none"
    >
      <img src="" style="display: block" id="uploaded_image" />
      <div
        class="pl-3"
        style="vertical-align: center"
        id="uploaded_image_name"
      ></div>
    </div>
  </div>
  <input
    type="submit"
    class="btn btn-warning mt-3 mb-5"
    value="Create Product"
  />
</form>
{{/block}}

{{#block 'js'}}
{{!-- Initialise Cloudinary --}}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
  integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
  crossorigin="anonymous"
></script>
<script
  src="https://widget.cloudinary.com/v2.0/global/all.js"
  type="text/javascript"
></script>

<script>
  const cloudName = '{{cloudinaryName}}';
  const apiKey = '{{cloudinaryApiKey}}';
  const uploadPreset = '{{cloudinaryUploadPreset}}';

  // Boilet plate to get signature from Cloudinary
  async function getSignature(callback, params_to_sign) {
    const response = await axios.get('/cloudinary/sign', {
      params: {
        params_to_sign: params_to_sign,
      },
    });
    callback(response.data);
  }

  // Boiler plate for config object
  const config = {
    // Destructuring
    cloudName,
    apiKey,
    uploadPreset,
    uploadSignature: getSignature,
  };

  const uploadWidget = cloudinary.createUploadWidget(config, (err, res) => {
    if (!err && res && res.event === 'success') {
      console.log('Successful upload');
      console.log(res.info);

      document.querySelector('#id_img_url').value = res.info.thumbnail_url;
      document.querySelector('#uploaded_image').src = res.info.thumbnail_url;
      document.querySelector('#uploaded_image').style.display = 'block';
      document.querySelector('#uploaded_image_div').style.display = 'flex';
      document.querySelector('#uploaded_image_name').innerHTML = `
        <h4 class="mt-2 ">${res.info.original_filename}</h4>
        <h6 class="mt-0">${res.info.resource_type}</h6>
        `;
    }
  });
  document
    .querySelector('#upload_image_widget')
    .addEventListener('click', () => {
      uploadWidget.open();
    });
</script>
{{/block}}

{{/extends}}
