{{#extends 'base'}}

{{#block 'title'}} Our Products {{/block}}

{{#block 'content'}}
<form method="GET">
  <a
    class="btn btn-info mb-3 btn-sm"
    data-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Search and Filter
  </a>

  <div class="collapse" id="collapseExample">
    <div class="card card-body bg-dark text-light">
      {{{form}}}
      <input type="submit" class="btn btn-primary btn-sm mb-3" />
    </div>
  </div>
</form>

<div class="table-dark">
  <table data-toggle="table" class="table">
    <thead>
      <tr>
        {{!-- <th>Preview</th> --}}
        <th data-sortable="true">Date Added</th>
        <th data-sortable="true">Name</th>
        <th data-sortable="true">Description</th>
        <th data-sortable="true">Cost (in cents)</th>
        <th data-sortable="true">Company</th>
        <th data-sortable="true">Specifications</th>
        <th data-sortable="true">Stock</th>
        <th data-sortable="true">Attributes</th>
        <th data-sortable="true">Category</th>
        <th data-sortable="true">Tags</th>
        <th data-sortable="true">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        {{!-- <td><span>
          {{#if this.thumbnail_url}}
          <img class="img-fluid" src="{{ this.thumbnail_url }}" />
          {{/if}}
        </span></td> --}}
        <td class="td-content"><span>{{ dateFormat this.date_added format='DD-MM-YYYY' }}</span></td>
        <td class="td-content"><span>{{ this.name }}</span></td>
        <td class="td-content"><span>{{ this.description }}</span></td>
        <td class="td-content"><span>{{ this.cost }}</span></td>
        <td class="td-content"><span>{{ this.company }}</span></td>
        <td class="td-content"><span>{{ this.specs }}</span></td>
        <td class="td-content"><span>{{ this.stock }}</span></td>
        <td><span>
          {{#if_eq this.local "true"}}<span class="badge badge-pill badge-warning">Local</span>{{else}}<span class="badge badge-pill badge-warning">Overseas</span>{{/if_eq}} 
          {{#if_eq this.organic_natural "true"}}<span class="badge badge-pill badge-warning">Org/Nat</span>{{else}}{{/if_eq}} 
          {{#if_eq this.free_delivery "true"}}<span class="badge badge-pill badge-warning">Free deliv</span>{{else}}{{/if_eq}}</span></td>
        <td class="td-content"><span>{{ this.category.category_name }}</span></td>
        <td><span>
          {{#each this.tags}}
          <span class="badge badge-pill badge-info">{{ this.tag_name }}</span>
          {{/each}}
        </span></td>
        <td><div class="d-flex flex-column">
          <a
            href="/products/{{ this.id }}/update"
            class="btn btn-primary btn-sm"
            >Update</a
          ><a
            href="/products/{{ this.id }}/delete"
            class="btn btn-danger btn-sm"
            >Delete</a
          >
          <a href="/cart/{{ this.id }}/add" class="btn btn-dark btn-sm"
            >Add to Cart</a
          >
        </div></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/block}}
{{/extends}}
