{{#extends 'base'}}

{{#block 'title'}} Our Posters {{/block}}

{{#block 'content'}}
<form method="GET">
  <a
    class="btn btn-info mb-3 btn-sm"
    data-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Search and Filter
  </a>

  <div class="collapse" id="collapseExample">
    <div class="card card-body bg-dark text-light">
      {{{form}}}
      <input type="submit" class="btn btn-primary btn-sm mb-3" />
    </div>
  </div>
</form>

<div class="table-responsive table-dark">
  <table data-toggle="table" class="table">
    <thead>
      <tr>
        <th>Preview</th>
        <th data-sortable="true">Date Added</th>
        <th data-sortable="true">Name</th>
        <th data-sortable="true">Description</th>
        <th data-sortable="true">Cost (in cents)</th>
        <th data-sortable="true">Company</th>
        <th data-sortable="true">Size</th>
        <th data-sortable="true">Stock</th>
        <th data-sortable="true">Local</th>
        <th data-sortable="true">Organic/ Natural</th>
        <th data-sortable="true">Free Delivery</th>
        <th data-sortable="true">Category</th>
        <th data-sortable="true">Tags</th>
        <th data-sortable="true">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>
          {{#if this.thumbnail_url}}
          <img class="img-fluid" src="{{ this.thumbnail_url }}" />
          {{/if}}
        </td>
        <td>{{ dateFormat this.date_added format='DD-MM-YYYY' }}</td>
        <td>{{ this.name }}</td>
        <td>{{ this.description }}</td>
        <td>{{ this.cost }}</td>
        <td>{{ this.company }}</td>
        <td>{{ this.size }}</td>
        <td>{{ this.stock }}</td>
        <td>{{ this.local }}</td>
        <td>{{ this.organic_natural }}</td>
        <td>{{ this.free_delivery }}</td>
        <td>{{ this.category.category_name }}</td>
        <td>
          {{#each this.tags}}
          <span class="badge badge-pill badge-info">{{ this.tag_name }}</span>
          {{/each}}
        </td>
        <td>
          <a
            href="/products/{{ this.id }}/update"
            class="btn btn-primary btn-sm"
            >Update</a
          ><a
            href="/products/{{ this.id }}/delete"
            class="btn btn-danger ml-2 btn-sm"
            >Delete</a
          >
          <a href="/cart/{{ this.id }}/add" class="btn btn-primary ml-2 btn-sm"
            >Add to Cart</a
          >
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/block}}
{{/extends}}
