{{#extends 'base'}}

{{#block 'title'}} Update Product: {{ product.title }} {{/block}}

{{#block 'content'}}
<div class="d-flex mb-3">
  <img src="{{ product.thumbnail_url }}" />
  <h1 class="ml-3">Update Product: {{ product.name }}</h1>
</div>
<form method="POST">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  {{{form}}}
  <div class="mb-2">
    <i>Don't see a category or tag you need?
    <a href="/products/addcategorytags" class="text-light"><u>Click here</u></a>
    to add one.</i>
  </div>
  <input
    type="submit"
    class="btn btn-primary mt-3 mb-5"
    value="Update Product"
  />
</form>
{{/block}}

{{#block 'js'}}
{{!-- Add user id when creating/updating a product --}}
<script>
  document.querySelector('#id_user_id').value = '{{ user.id }}';
</script>

{{!-- UploadCare --}}
{{!-- <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  charset="utf-8"
></script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js"></script>
<script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.min.js"></script>
<script>
  uploadedDialog = (info) => {
    const thumbnailUrl = document.querySelector('#id_thumbnail_url').value;
    console.log(thumbnailUrl)
    document.querySelector('#uploadedImage').innerHTML = `
      <div class="row border border-light mx-1 mt-3 p-3" id="uploaded_image_div">
        <img src="${thumbnailUrl}" style="display: block" id="uploaded_image" />
        <div class="pl-3" style="vertical-align: center" 
        </div>
      </div>
    `;
  };
  uploadedDialog();
</script> --}}
{{/block}}

{{/extends}}
