{{#extends 'base'}}

{{#block 'title'}} Update Product: {{ product.title }} {{/block}}

{{#block 'content'}}
<div class="d-flex mb-3">
  <img src="{{ product.thumbnail_url }}" />
  <h1 class="ml-3">Update Product: {{ product.name }}</h1>
</div>
<form method="POST">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  {{{form}}}
  <span
    >Don't see a category or tag you need?
    <a href="/products/addcategorytags" class="text-light"><u>Click here</u></a>
    to add one.</span
  >
  <div>
    <!-- UploadCare -->
    <input
      type="hidden"
      role="uploadcare-uploader"
      id="uploadedImage"
      data-preview-step="true"
      data-effects="crop,rotate,enhance,sharp,grayscale"
    />
  </div>
  <input
    type="submit"
    class="btn btn-primary mt-3 mb-5 btn-sm"
    value="Update Product"
  />
</form>
{{/block}}

{{#block 'js'}}
{{!-- UploadCare --}}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  charset="utf-8"
></script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js"></script>
<script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.min.js"></script>
<script>
  UPLOADCARE_PUBLIC_KEY = '{{ uploadcarePublicKey }}';
  uploadcare.registerTab('preview', uploadcareTabEffects);
  const widget = uploadcare.Widget('[role=uploadcare-uploader]');

  widget.onUploadComplete(async (info) => {
    await uploadedDialog(info);
  });

  uploadedDialog = (info) => {
    const thumbnailUrl = `${info.cdnUrl}/-/preview/-/scale_crop/200x200/`;
    document.querySelector('#id_img_url').value = info.cdnUrl;
    document.querySelector('#id_thumbnail_url').value = info.thumbnailUrl;
    document.querySelector('#uploadedImage').parentElement.innerHTML = `
      <div class="row border border-light mx-1 mt-3 p-3" id="uploaded_image_div">
        <img src="${thumbnailUrl}" style="display: block" id="uploaded_image" />
        <div class="pl-3" style="vertical-align: center" id="uploaded_image_name">
          <h4 class="mt-2 ">${info.name}</h4>
          <h6 class="mt-0">${info.mimeType}</h6></div>
        </div>
      </div>
    `;
  };
</script>
{{/block}}

{{/extends}}
